body {
    margin: 0;
    background-color:#1C1C1C;
    font-family:"Verdana"
}

.container {
    background-color:#6943FF;
    margin: 20px auto 0px auto;
    box-shadow: 0px 0px 10px #74a2d3;
    width:570px;
    border-radius:10px;
}

#title {
    font-size:27px;
    margin-bottom:30px;
}

#header {
    padding:10px;
    text-align:center;
    color:white;
}

#input-number {
    width:110px;
    height:80px;
    margin-bottom:20px;
    border: 1px solid white;
    border-radius:10px;
    font-size:45px;
    text-align:center;
    background-color:#6943FF;
    color:white;
    font-family:"Verdana";
}

#input-number:focus {
    outline:none;
    border: 1px solid #74a2d3;
}

#convert {
    background-color:white;
    color:#0d1b2a;
    width:110px;
    height:40px;
    border:none;
    border-radius:5px;
    margin-bottom:30px;
    font-family:"Verdana";
}

#convert:hover {
    background-color: rgb(255, 255, 255);
    color:#1F2937;
}

#conversions {
    background-color:#1F2937;
    margin-bottom:0px;
    padding-top: 10px;
    height:420px;
    border-radius: 0px 0px 10px 10px;
    color:white;
    margin-bottom: 30px;
}

.desc{
    background-color:#273549;
    width:500px;
    margin: 10px auto;
    padding: 1px 10px;
    text-align:center;
    border-radius:5px;
}

.heading {
    color:#CCC1FF;
}

#footer {
    margin-top: 30px; 
    font-size: 14px;
    text-align:center;
}

.github-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    gap:8px;
}

#footer p {
    color: white;
    margin-bottom: 5px;
}

#footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid white;
}

#footer a:hover {
    color: #6943FF;
}
